<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-log-out" ui-sref="logout"></button>
            </ion-nav-buttons>			
        </ion-nav-bar>		
		<ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="dark-bg expanded bar-header disable-user-behavior">
            <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
            <h2>100Calote</h2>
        </ion-header-bar>
        <ion-content   class="side-menu-left stable-bg has-expanded-header">
            <ion-list>
                <ion-item ui-sref="menu.devedores" menu-close=""> <i class="icon ion-happy-outline"></i> Quem me deve</ion-item>
                <ion-item ui-sref="menu.devendo" menu-close=""> <i class="icon ion-sad-outline"></i> Pra quem devo</ion-item>
				<ion-item ui-sref="menu.config" menu-close=""> <i class="icon ion-settings"></i> Configurações</ion-item>
                <ion-item ui-sref="menu.sobre" menu-close=""> <i class="icon ion-help"></i>  Sobre</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <!-- Left menu 
  <ion-side-menu expose-aside-when="large">
      <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.devedores" menu-close="">Quem me deve</ion-item>
                <ion-item ui-sref="menu.devendo" menu-close="">Pra quem devo</ion-item>
                <ion-item ui-sref="menu.sobre" menu-close="">Sobre</ion-item>                
            </ion-list>
        </ion-content>
  </ion-side-menu>-->
</ion-side-menus>

<!--<ion-nav-view name="semMenu"></ion-nav-view>-->